@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b overscroll-auto from-blue-950 to-black;
  }
  li {
    @apply bg-gray-500 text-white py-1.5 px-2 rounded-xl cursor-pointer;
    transition: all 0.5s ease-in-out;
  }
  li:hover {
    @apply bg-gray-600;
    transform: scale(1.05);
  }
}

@layer components {
  .card_dark {
    background-color: rgb(15, 13, 13);
  }
  .card_light {
    background-color: rgb(21, 20, 20);
  }

  .navHide {
    position: absolute;
    content: "Expand your Library";
    top: 190px;
    left: 80px;
    width: auto;
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: rgb(73, 71, 71);
  }

  .navShow {
    position: absolute;
    content: "Collapse your Library";
    top: -20px;
    left: 10px;
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: rgb(73, 71, 71);
  }
  .hover_prop {
    color: white;
    cursor: pointer;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
